@media screen and (max-width: 890px) {
  .outer {
    margin: 0 20px;

    padding-top: 0;
    display: flex;
    justify-content: center;
  }
  input[type="search"] {
    border: none;
    background-color: #f6f7fd;
    border-radius: 10px;

  }
  .outer h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
  }
  input[type="search"] {
    border: none;
    background-color: #f6f7fd;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
  }

  .inner {
    display: flex;
    flex-direction: column;
  }
  .l {
    max-width: 90%;
    margin: auto;
  }
  .leftBox {
    max-width: 100%;
  }
  #avatar {
    width: 5.25rem;
    height: 5.25rem;
    border-radius: 50%;
    margin-left: 43%;
  }
  #f-tr td {
    font-size: 0.73rem;
  }
  #sec-row td {
    font-size: 1.125rem;
  }
  .info-profile {
    height: 3.75rem;
  }
  #log-out {
    height: 60%;
  }
  .leftBox {
    margin-top: -35%;
  }
  .rightBox {
    margin-top: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .r {
    margin-left: 0;
  }
  aside {
    padding: 1rem;
  }
  .react span {
    margin-right: 5%;
  }
}
